/* .col-6 {
    position:relative;
    width:90%;
    top:50px;
    left:20px;
     display:inline-block;
     border: 2px solid black;
     margin-right: 50px;
}

.col-left {
    position:relative;
    width:30%;
    top:0;
    left:50%;
     display:inline-block;
     border: 2px solid black;
     margin: 20px;
} */

