html {
    scroll-behavior: smooth;
}

.game__wrapper {
    /* position:relative;
    top:0;
    left:0; */
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-6 {
    width:40%;
    flex-basis:40%;
    display:inline-block;
    border: 1px solid black;
    padding:20px;
}

.col-12 {
    width:100%;
    flex-basis: 100%;
}

.destination {
    height:300px;
    font-size: 40px;
    text-align:center;
    border: 1px solid red
}